<!doctype html>
<html ng-app="appVector">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <title>Vector</title>
</head>

<body ng-controller="contenidoController">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ng-include src="'/layout'"></ng-include>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 center">
        <ng-include src="'/customers'"></ng-include>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 center">
        <ng-include src="'/listClientes'"></ng-include>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Loading libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="/js/vendor/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/vendor/satellizer.min.js"></script>
    <script type="text/javascript" src="/js/index.module.js"></script>
    <script type="text/javascript" src="/js/controllers/indexController.js"></script>
    <script type="text/javascript" src="/js/controllers/clienteController.js"></script>
    <script type="text/javascript" src="/js/services/clienteService.js"></script>
    <script type="text/javascript" src="/js/services/grupoService.js"></script>
</body>

</html>