<!doctype html>
<html ng-app>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <title>Vector</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% include layout %>
      </div>
    </div>
    <div class="row">
      <div ng-switch="page">
        <div ng-switch-when="" class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
          <% include clienteForm %>
        </div>
        <div ng-switch-when="groups" class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
          <% include grupoForm %>
        </div>
        <div ng-switch-default>
            <% include clienteForm %>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/popper.min.js"></script>
</body>

</html>