<h1><strong>Alta cliente</strong></h1>
<div ng-controller="clienteController as cliente">
    <form class="form-horizontal" ng-submit="submitClienteForm()" role="form">
        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-6">
                <input type="text" id="nombre" class="form-control" ng-model="cliente.nombre" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="cif" class="col-sm-3 control-label">CIF:</label>
            <div class="col-sm-6">
                <input type="text" id="cif" class="form-control" ng-model="cliente.cif" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="direccion" class="col-sm-3 control-label">Dirección:</label>
            <div class="col-sm-6">
                <input type="text" id="direccion" class="form-control" ng-model="cliente.direccion" />
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
            <label for="grupo" class="col-sm-3 control-label">Grupo:</label>
            <div class="col-sm-6">
                <select id="grupo" class="form-control" ng-model="cliente.grupo">
                    <option ng-repeat="g in grupos" value="{{g.id}}">{{g.nombre}}</option>
                </select>
            </div>
        </div>

        <input type="submit" value="Guardar" ng-click="saveCliente()" class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Limpiar" ng-click="resetCliente()" class="btn" /> <br />
    </form>
</div>