<h1><strong>Grupo</strong></h1>
<div>
    <form class="form-horizontal"  role="form">
        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre:</label>
            <div class="col-sm-6">
                <input type="text" id="nombre" class="form-control" ng-model="grupo.nombre" />
            </div>
        </div>

        <input type="submit" value="Guardar" ng-click="saveGrupo()" class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Limpiar" ng-click="resetForm()" class="btn" /> <br />
    </form>
</div>