<h1><strong>Listado de clientes</strong></h1></br>
<div>
    <div class="container">
        <div class="row">
            <input class="form-control" type="search" id="search" placeholder="Filtrar clientes..." aria-label="Search"
                ng-model="clienteSearch" ng-keyup="searchCliente()">
        </div>
        </br>
        <div class="row">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-2">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">CIF</th>
                            <th scope="col">Dirrección</th>
                            <th scope="col">Grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in allCustomers">
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.cif }}</td>
                            <td>{{ c.direccion }}</td>
                            <td>{{ c.grupo.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>