<h1><strong>Listado de grupos</strong></h1></br>
<div>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="g in grupos">
                        <td>{{ g.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>